/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General Styles */

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #fff;
    position: relative;
}

/* Logo and Headings */

h1 {
    color: #fff;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    margin: 4%;
}

/* Navigation */

.navbar {
    background-color: #202020;
    opacity: 0.9;
    height: 60px;
}

.navbar-toggler {
    margin-bottom: auto;
}

.dropdown-menu, .dropdown-item, .navbar-collapse {
    background-color: #202020;
    color: #fff;
}

/* Carousel */

/* Home Section */

#home-section2 p {
    text-align: center;
}

/* About Us Section */

#about-us p {
    text-align: center;
    letter-spacing: 1px;
}



/* Contact Us Section */

#contact-us {
    margin-bottom: 30px;
}

#contact-us p {
    text-align: center;
}

.form-group {
    margin: 2%;
}

.my-btn {
    width: 150px;
    margin-top: 5px;
    padding: 8px;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    background-color: #52daf1;
    border: solid 2px #52daf1;
    color: #202020;
}

.my-btn:hover {
    background-color: #202020;
    color: #52daf1;
    border-color: #52daf1;
}

.my-form {
  background-color: #202020;
  border-radius: 25px;
  opacity: 0.9;
  padding: 20px
}

.my-form label {
    color: #fff;
    margin-bottom: 5px;
}

/* Footer Section */

footer {
    background-color: #202020;
    height: 200px;
}

footer h6 {
    color: #fff;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    margin: 1%;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 80%;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    color: #fff;
    font-size: 180%;
    margin: 1%;
    padding: 1%;
}

.social-links i:hover {
    color: #52daf1;
}
