/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General Styles */

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    position: relative;
    background-color: #fff;
}

/* Logo and Headings */

h1, h2 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Navigation */

nav {
    background-color: #202020;
}

nav h1 {
    color: white;
}
