/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General Styles */

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    position: relative;
    background-color: #fff;
}

/* Logo and Headings */

h1 {
    color: #fff;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Navigation */

.navbar {
    background-color: #202020;
    opacity: 0.9;
}

.dropdown-menu, .dropdown-item {
    background-color: #202020;
    color: #fff;
}
